{% set blogInfo = _Blog.getHomeBlogSettings()%}
<footer class="footer">
    <div class="footer__container">
        <div class="footer__left">
            {% set logo = network.templatePath~'/static/images/themeLogo.svg'%}
            {% set logoUrl = network.networkLogoLinkUrl %}
            {% if network.logoMedia | length > 0 %}
                {% set logo = _Media.getMediaUrl(network.logoMedia, 200, 45, {'crop': 'limit'} )%}
            {% endif %}
            <a href="{{logoUrl}}" class="footer__logo"><img src="{{logo}}"/></a>
            <div class="footer__navigation">
                {% set menuItems = blogData.blogHeaderMenu %}
                {% for i in 0..4 %}
                    {% if menuItems[i] is defined %}
                        {% set activeClass = (menuItems[i].link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                        {% set externalClass = (menuItems[i].isExternal) ? 'external-link' : '' %}
                        {% set hasChildren = menuItems[i].children is defined and menuItems[i].children | length > 0 ? true : false %} 

                        {% if hasChildren %}
                            <div class="footer__navigation_more footer__navigation_link">
                                {{ ((menuItems[i].label is empty) ? ((menuItems[i].pageTitle is empty)? menuItems[i].blogTitle : menuItems[i].pageTitle) : menuItems[i].label )}}  <i class="fa fa-angle-down"></i>
                                <div class="footer__navigation_more-box-container">
                                    <div class="footer__navigation_more-box-tip"></div>
                                    <div class="footer__navigation_more-box">
                                        {% for childItem in menuItems[i].children%}
                                            {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                            {% set name = ((childItem.label is empty) ? ((childItem.pageTitle is empty)? childItem.blogTitle : childItem.pageTitle) : childItem.label) %}
                                            <a href="{{childItem.link |raw}}" class="footer__navigation_more-link {{externalClass}}"  {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>{{ name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{menuItems[i].link |raw}}" class="footer__navigation_link  {{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>{{ ((menuItems[i].label is empty) ? ((menuItems[i].pageTitle is empty)? menuItems[i].blogTitle : menuItems[i].pageTitle) : menuItems[i].label )}} </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if menuItems[5] is defined %}
                    <div class="footer__navigation_more">
                        More <i class="fa fa-angle-down"></i>
                        <div class="footer__navigation_more-box-container">
                            <div class="footer__navigation_more-box-tip"></div>
                            <div class="footer__navigation_more-box">
                                {% for i in 5..(menuItems |length - 1)%}
                                    {% set menuItem = menuItems[i] %}	
                                    <a href="{{ menuItem.link }}" class="header__navigation_more-link">{{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}</a>
                                {% endfor %}								
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="footer__right">
            {{ this.render('social-links.twig', {network: network, blogInfo: blogInfo}) | raw }}
            {% set menuItems = blogData.blogFooterMenu %}
            {% for i in 0..4 %}
                {% if menuItems[i] is defined %}
                    {% set menuItem = menuItems[i] %}
                    <a class="footer__additional-link" href="{{menuItem.link}}">{{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}</a>
                {% endif %}
            {% endfor %}

        </div>
        <div class="footer__copyright">{{network.title}} All Rights Reserved. Powered By {{network.poweredBy}}</div>
    </div>
</footer>